USE [master]
GO
/****** Object:  Database [1erP]    Script Date: 21/5/2026 18:46:21 ******/
CREATE DATABASE [1erP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1erP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\1erP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1erP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\1erP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1erP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1erP]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 21/5/2026 18:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 21/5/2026 18:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[Id] [int] NOT NULL,
	[Id_Articulo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBASTA]    Script Date: 21/5/2026 18:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBASTA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_articulo] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[precio_inicial] [decimal](18, 2) NOT NULL,
	[precio_final] [decimal](18, 2) NULL,
	[id_ganador] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[IdArticulo] [int] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[PrecioInicial] [decimal](18, 2) NULL,
	[PrecioFinal] [decimal](18, 2) NULL,
	[IdGanador] [int] NULL,
 CONSTRAINT [PK_SUBASTA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/5/2026 18:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
	[TipoUsuario] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_SUBASTA_ARTICULO_ACTIVA]    Script Date: 21/5/2026 18:46:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SUBASTA_ARTICULO_ACTIVA] ON [dbo].[SUBASTA]
(
	[id_articulo] ASC
)
WHERE ([estado]='Activa')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulo] ADD  CONSTRAINT [DF_ARTICULO_ESTADO]  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Articulo] ([Id])
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([Id_Articulo])
REFERENCES [dbo].[Articulo] ([Id])
GO
ALTER TABLE [dbo].[SUBASTA]  WITH CHECK ADD  CONSTRAINT [FK_SUBASTA_ARTICULO] FOREIGN KEY([id_articulo])
REFERENCES [dbo].[Articulo] ([Id])
GO
ALTER TABLE [dbo].[SUBASTA] CHECK CONSTRAINT [FK_SUBASTA_ARTICULO]
GO
ALTER TABLE [dbo].[SUBASTA]  WITH CHECK ADD  CONSTRAINT [FK_SUBASTA_GANADOR] FOREIGN KEY([id_ganador])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[SUBASTA] CHECK CONSTRAINT [FK_SUBASTA_GANADOR]
GO
ALTER TABLE [dbo].[SUBASTA]  WITH CHECK ADD  CONSTRAINT [CK_SUBASTA_ESTADO] CHECK  (([estado]='Cancelada' OR [estado]='Finalizada' OR [estado]='Activa'))
GO
ALTER TABLE [dbo].[SUBASTA] CHECK CONSTRAINT [CK_SUBASTA_ESTADO]
GO
ALTER TABLE [dbo].[SUBASTA]  WITH CHECK ADD  CONSTRAINT [CK_SUBASTA_FECHAS] CHECK  (([fecha_fin]>[fecha_inicio]))
GO
ALTER TABLE [dbo].[SUBASTA] CHECK CONSTRAINT [CK_SUBASTA_FECHAS]
GO
ALTER TABLE [dbo].[SUBASTA]  WITH CHECK ADD  CONSTRAINT [CK_SUBASTA_PRECIOS] CHECK  (([precio_inicial]>(0) AND ([precio_final] IS NULL OR [precio_final]>=[precio_inicial])))
GO
ALTER TABLE [dbo].[SUBASTA] CHECK CONSTRAINT [CK_SUBASTA_PRECIOS]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Tipo] CHECK  (([TipoUsuario]='MARTILLERO' OR [TipoUsuario]='CLIENTE'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Tipo]
GO
USE [master]
GO
